.job-map-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .search-bar {
    padding: 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .search-bar input {
    width: 40%;  /* Adjusted to fit two input fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .search-bar .search-button {
    padding: 10px 20px;
    background-color: #0073b1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .search-bar .search-button:hover {
    background-color: #005a8d;
  }
  
  .map-and-listings {
    display: flex;
    flex-grow: 1;
    color: #333;
    height: calc(100vh - 60px);
    overflow: hidden;
    padding: 20px;
    gap: 30px;
    background-color: #ffffff;
  }
  
  .google-map {
    flex-grow: 1;
    height: 100%;
    width: 70%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-listing-panel {
    width: 30%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    overflow-y: auto;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-listing-panel h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .job-item {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;  /* Thin line between job listings */
  }
  
  .job-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .job-info p {
    margin: 2px 0;
    font-size: 14px;
    color: #777;
  }
  
  .salary-label {
    font-size: 14px;
    font-weight: bold;
    color: #0073b1;
  }
  