.job-map-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.search-bar {
    padding: 10px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.search-bar input, .search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

.search-bar input {
    width: 40%;
}

.map-and-listings {
    display: flex;
    flex-grow: 1;
    color: #333;
}

.job-listing-panel {
    width: 70%;
    background: #ffffff00;
    padding: 20px;
    overflow-y: scroll;
    
}

.job-item {
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 10px;
}

.job-item:hover {
    background-color: #fffeffca;
}s

.job-item h4 {
    margin: 0;
    color: #333;
    
}
.job-listing-panel {
    max-height: 989px;  
    overflow-y: auto;   
    padding: 10px;      
    border: 1px solid #ddd;  
    box-sizing: border-box;
  }
  .job-listing-panel h3 {
    color: white; 
    font-size: 14px;
}
.job-listing-panel .job-item h4,
.job-listing-panel .job-item p {
    color: #ffffff; 
}
  .job-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #80002000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }
  
  .job-item h4 {
    margin: 0 0 5px;
  }
  
  .job-item p {
    margin: 0;
  }
  